<div data-role="page" id="page1">

  <div data-role="header" data-position="inline">
    <h1>RealtimeChat</h1>
    <a href="#" data-icon="gear" class="ui-btn-right" id="options">Opt</a>
  </div><!-- /header -->

  <div data-role="content"> 
    <div data-role="collapsible" data-theme="c" data-content-theme="c">
      <h3>ID: <a name="userid" id="userid"></a></h3>
      <h3><input type="text" name="name" id="name" value="" placeholder="ニックネームを入力して下さい" /></h3>
    </div>

    <h2>
      <input type="text" name="title" id="title" value="" placeholder="入力してエンター" />
    </h2>
    <ul data-role="listview" data-inset="true" id="lv">
      <!-- input form koko -->
      <li data-role="list-divider">
      <div data-role="fieldcontain">
        <span id="count"></span>
      </div>
      </li>
    </ul>
    <a href="#" data-role="button" id="more">More</a>
    </div>
  </div><!-- /content -->

</div><!-- /page -->
